body {
  font-size: 17px;
  padding-top: 100px; /* maior para tablets que podem ter barra mais alta */
}

.card {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}
